<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="一生に頑張ろう">
    <title>頑張ろう</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css%} {% endblock %}
</head>
{% block class%} {% endblock %}
<nav class="header navbar navbar-expand-lg navbar-white bg-white">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto row col-12">
            <li class="nav-item menu col-1">
                <div class="w3-teal ml-3" id="iconSidebar">
                    <span class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</span>
                </div>
            </li>
            <li class="nav-item col-10 d-flex align-items-center text-center align-item-center justify-content-center">
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('searching') }}" method=get>
                    <div class="search-input">
                        <img src="{{ url_for('static', filename='img/search.svg') }}">
                        <input class="mr-3 px-5 py-4" type="search" aria-label="Search" name="search-box">
                    </div>
                    <select name="search-type" class="px-2 py-4">
                        <option value="0">ユーザ名</option>
                        <option value="1">タグ</option>
                        <option value="2">キーワド</option>
                    </select>
                </form>
            </li>
            <li class="nav-item dropdown col-1 d-flex justify-content-end">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if session['logged_in']['gender'] == 1%}
                        <img src="{{ url_for('static', filename='img/man.png') }}">
                    {% elif session['logged_in'] == 0 %}
                        <img src="{{ url_for('static', filename='img/woman.png') }}">
                    {%else%}
                        <img src="{{ url_for('static', filename='img/nosex.png') }}">
                    {%endif%}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if not session.logged_in %}
                        <a class="dropdown-item" href="{{ url_for('login') }}">ログイン</a>
                        <a class="dropdown-item" href="{{ url_for('signup') }}">サインアップ</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ url_for('get_user') }}">ユーザ情報</a>
                        <a class="dropdown-item" href="{{ url_for('logout') }}">ログアウト</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="w3-sidebar w3-bar-block w3-border-right menu-item" style="display:none; width: 300px;" id="mySidebar">
    <div class="d-flex flex-column">
        <span onclick="w3_close()" class="w3-large text-right mr-4"> &times;</span>
        <div class="d-flex flex-column pl-5" style="gap: 25px;">
            <a href="{{ url_for('create_post') }}" class="w3-bar-item">新規投稿</a>
            <a href="#" class="w3-bar-item">注目の投稿</a>
            <ul>
            {% for tag in session['tags'] %}
                <li><a class="mb-3" href="{{ tag.id }}">{{ tag.name }}</a></li>
            {% endfor %}
            </ul>
        <a href="#" class="w3-bar-item">頑張っている人たち</a>

        </div>
        
    </div>
</div>
<!-- Message Error -->
{% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
{% endfor %}
<section class="body mt-3 container">
    {% block body%} {% endblock %}
</section>
<footer>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
