
{% extends "layout.html" %}
{% block css%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-info.css') }}">
{% endblock %}
{% block class %}
    <body class="user-detail">
{% endblock %}
{% block body %}
<div class="page-title">
    <h1>プロフィール</h1>
</div>

<div class="container">
    <div class="basic-info">
        <img class="update-icon" alt="update-icon" src="{{ url_for('static', filename='icons/update-button.svg') }}" />
        <div class="header">
            <div class="avatar-container">
                {% if user_info.gender == 1%}
                    <img class="avatar"src="{{ url_for('static', filename='img/man.png') }}" alt="avatar" />
                {% elif user_info.gender == 0 %}
                    <img class="avatar" src="{{ url_for('static', filename='img/woman.png') }}" alt="avatar" />
                {%else%}
                    <img class="avatar" src="{{ url_for('static', filename='img/nosex.png') }}" alt="avatar" />
                {%endif%}
            </div>
            <div class="header-info">
                <span>{{ user_info.username }}</span>
                {% if user_info.id != session['logged_in']['id'] %}
                    <div class="button-group">
                        {% if userFollow > 0%}
                            <a class="detail-unfollow" path="{{ url_for('un_follow', user_id = user_info.id )}}" href="javascript:void(0)">フォローを外す</a>
                            <a class="detail-follow" path="{{ url_for('add_follow', user_id = user_info.id )}}" style="display: none;" href="javascript:void(0)">フォロー</a>
                        {% else %}
                            <a class="detail-follow" path="{{ url_for('add_follow', user_id = user_info.id )}}" href="javascript:void(0)">フォロー</a>
                            <a class="detail-unfollow" path="{{ url_for('un_follow', user_id = user_info.id )}}" style="display: none;" href="javascript:void(0)">フォローを外す</a>

                        {%endif%}
                    </div>
                {% endif %}
                {% if user_info.id == session['logged_in']['id'] %}
                    <div class="button-group">
                        <a href="{{url_for('list_following')}}">フォロー</a>
                        <a href="{{ url_for('list_follower') }}">フォロワー</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="detail-info">
        <div class="category-group">
            <div class="category">
                <label>学年</label>
                <span>{{ user_info.school_year }}</span>
            </div>
            <div class="category">
                <label>性別</label>
                <span>{{ user_info.gender }}</span>
            </div>
        </div>
        <div class="category">
            <label>力を入れたい科目</label>
            <div>
                {% for tag in tagUser %}
                    <span class="text-dark mr-3 font-weight-bold">{{ tag['Tag'].name }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="category">
            <label>合計ポイント</label>
            <input id="user-point" hidden value="{{ user_info.point }}">
            <span class="user-point-info" >{{ user_info.point }}</span>
        </div>
    </div>

    <div class="detail-info update-info" style="display: none;">
        <form action="{{ url_for('get_user') }}" method=post>
            <div class="category">
                <label>ユーザ名</label>
                <input value="{{ user_info.username }}" name="username"/>
            </div>
            <div class="category-group">
                <div class="category">
                    <label>学年</label>
                    <input name="school_year" value="{{ user_info.school_year }}" />
                </div>
                <div class="category">
                    <label class="">性別</label>
                    <div class="gender-select">
                        <div class="form-check form-check-inline">
                            <input name="sex" class="form-check-input" type="radio" id="gridRadios1" value="1" {{ user_info.gender == 1 and 'checked' or '' }}  >
                            <label class="form-check-label text-dark font-weight-bold" for="gridRadios1">男</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" id="gridRadios2" value="0" {{ user_info.gender == 0 and 'checked' or '' }}>
                            <label class="form-check-label text-dark font-weight-bold" for="gridRadios2">女</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" id="gridRadios3" value="-1" {{ user_info.gender == -1 and 'checked' or '' }}>
                            <label class="form-check-label text-dark font-weight-bold" for="gridRadios3">非公開</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category">
                <label>力を入れたい科目</label>
                <div>
                    <select name="tag1" class="form-select" aria-label="Default select example">
                        {% for sub_tag in tags %}
                            {% if sub_tag.id == tagUser[0]['Tag'].id %}
                                <option value="{{ sub_tag.id }}" selected>{{ sub_tag.name }}</option>
                            {% else %}
                                <option value="{{ sub_tag.id }}">{{ sub_tag.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="tag2" class="form-select" aria-label="Default select example">
                        {% for sub_tag in tags %}
                            {% if sub_tag.id == tagUser[1]['Tag'].id %}
                                <option value="{{ sub_tag.id }}" selected>{{ sub_tag.name }}</option>
                            {% else %}
                                <option value="{{ sub_tag.id }}">{{ sub_tag.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="tag3" class="form-select" aria-label="Default select example">
                        {% for sub_tag in tags %}
                            {% if sub_tag.id == tagUser[2]['Tag'].id %}
                                <option value="{{ sub_tag.id }}" selected>{{ sub_tag.name }}</option>
                            {% else %}
                                <option value="{{ sub_tag.id }}">{{ sub_tag.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    
                </div>
            </div>
            <div class="d-flex btn-edit justify-content-center">
                <input type="submit" class="edit-user-submit mr-2 px-3 py-2" value="設定" />
                <a class="px-3 py-2 edit-cancel" href="javascript::void(0)">キャンセル</a>
            </div>
        </form>
    </div>
    <div class="task">
        <div class="title">
            <h1>タスク</h1>
        </div>
        <div class="status-container change-status-task">
            <label for="status"></label>
            <div class="form-check form-check-inline ml-5">
                <input class="form-check-input" type="radio" checked name="task-status" id="inlineRadio1" value="1">
                <label class="form-check-label" for="inlineRadio1">未完</label>
            </div>
            <div class="form-check form-check-inline ml-5">
                <input class="form-check-input" type="radio" name="task-status" id="inlineRadio2" value="0">
                <label class="form-check-label" for="inlineRadio2">終了</label>
            </div>
        </div>
        <div class="task-container task-notcomplete">
            <div class="table-header">
                <div class="row">
                    <div></div>
                    <div class="task-title">タイトル</div>
                    <div class="deadline">締切</div>
                </div>
            </div>
            {% for task in unfinished_tasks %}
            <div class="row task-{{ task.id }}">
                <div class="mr-2 mt-2">
                    <input path="{{ url_for('update_task', post_id = task.id) }}" id="{{ task.id }}" class="checkbox-task" style="width: 25px; height: 25px;" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                </div>
                <div class="task-title">
                    {{ task.title }}
                </div>
                <div class="deadline">
                    {{ task.deadline }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="task-container task-complete" style="display: none;">
            <div class="table-header">
                <div class="row">
                    <div class="task-title">タイトル</div>
                    <div class="deadline">締切</div>
                </div>
            </div>
            {% for task in finished_tasks %}
            <div class="row task-{{ task.id }}">
                <div class="task-title">
                    {{ task.title }}
                </div>
                <div class="deadline">
                    {{ task.deadline }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="posts">
        <div class="title">
            <h1>投稿一覧</h1>
        </div>

        <div class="post-container">
            {% for index in range(0, length) %}
            <div class="post">
                <div class="post-info">
                    <div class="post-info-detail">
                        {{ posts[index]['Post'].title }}
                    </div>
                    <div class="cheer-info">
                        <img src="{{ url_for('static', filename='icons/applause-icon.svg') }}" class="applause-icon" />
                        <span class="cheer-point">{{ posts_point[index] }}</span>
                    </div>
                </div>
                <div class="tags-container">
                    <div class="tag">{{ posts[index]['Tag'].name }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}