{% extends "layout.html" %}
{% block css%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list-post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list-user.css') }}">
{% endblock %}
{% block class %}
    <body class="post-detail list-post">
{% endblock %}
{% block body %}
    <div class="user mt-4">
        <ul class="p-4">
            <li class="py-2 px-3 mb-3">
                <div class="d-flex row p-3">
                    <div class="avatar col-3 d-flex flex-column text-center align-items-center">
                        {% if post['User'].gender == 1%}
                            <img src="{{ url_for('static', filename='img/man.png') }}" alt="avatar" />
                        {% elif post['User'].gender == 0 %}
                            <img src="{{ url_for('static', filename='img/woman.png') }}" alt="avatar" />
                        {%else%}
                            <img  src="{{ url_for('static', filename='img/nosex.png') }}" alt="avatar" />
                        {%endif%}                
                        <span class="mt-3 px-5 py-1">{{ post['User'].username }}</span>
                        <div class="post-point d-flex flex-column mt-3">
                            {% if userLike > 0 %}
                                <img src="{{ url_for('static', filename='img/like.png') }}" class="applause-icon mb-2" />
                            {% else %}
                            <img action="{{ post['Post'].id  }}" path="{{ url_for('add_like', post_id = post['Post'].id ) }}" src="{{ url_for('static', filename='img/unlike.png') }}" class="applause-icon mb-2 unlikee unlike-{{ post['Post'].id }}" />
                            <img src="{{ url_for('static', filename='img/like.png') }}" id="{{ post['Post'].id}}"style="display: none;" class="applause-icon mb-2 icon-like-{{post['Post'].id}}" />
                            {% endif %}
                            <input hidden value="{{ countLike }}" id="countLike-{{ post['Post'].id }}">
                            <p><span value="{{ countLike }}" class="countLike-{{ post['Post'].id }}">{{ countLike }}</span> pt</p>
                        </div>
                    </div>
                    <div class="post-title col-9 mb-3 d-flex flex-column">
                        <div class="d-flex">
                            <div class="content p-2 col-9">
                                {{ post['Post'].title }}
                            </div>
                            <div class="btn-detail col-2 d-flex align-items-end">
                                <a href="javascript:void(0)" class="btn px-2 py-1">{{ post['Tag'].name }}</a>
                            </div>
                        </div>
                        {% if post['Post'].type == 0 %}
                            <div class="post-content mt-3 p-2">
                                <span>
                                    {{ post['Post'].content }}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
        <img hidden class="avatar-comment" src="{{ url_for('static', filename='img/man-avatar.png') }}">
        <ul class="p-2 mt-1 comment">
            <li class="p-3 comment-item">
                <div class="text-comment">
                    {% for comment in comments %}
                    <div class="block-comment-{{ comment['Comment'].id }}">
                        <div class="d-flex">
                            <div class="avatar col-3 d-flex flex-column text-center align-items-center">
                                {% if comment['User'].gender == 1%}
                                    <img src="{{ url_for('static', filename='img/man.png') }}" alt="avatar" />
                                {% elif comment['User'].gender == 0 %}
                                    <img src="{{ url_for('static', filename='img/woman.png') }}" alt="avatar" />
                                {%else%}
                                    <img  src="{{ url_for('static', filename='img/nosex.png') }}" alt="avatar" />
                                {%endif%}
                                <span class="mt-3 px-5 py-1">{{ comment['User'].username }}</span>
                            </div>
                            <div class="content p-2 col-9">
                                <p class="content-{{ comment['Comment'].id }}">{{ comment['Comment'].content }}</p>
                                <textarea class="input-comment-{{ comment['Comment'].id }}" rows="4" style="display: none;" cols="80"></textarea>
                            </div>                       
                        </div>
                        {% if comment['User'].id == session['logged_in']["id"] %}
                            <div class="d-flex justify-content-end mb-3">
                                <a href="javascript:void()" path="{{ url_for('edit_comment', comment_id = comment['Comment'].id ) }}" style="display: none;" id="{{ comment['Comment'].id }}" class="save-comment save-comment-{{ comment['Comment'].id }}" >保存</a>
                                <a href="javascript:void()"  style="margin-right: 20px;" id="{{ comment['Comment'].id }}" class="edit-comment edit-comment-{{ comment['Comment'].id }}" >編集</a>
                                <a href="javascript:void()" id="{{ comment['Comment'].id }}" path="{{ url_for('delete_comment', comment_id = comment['Comment'].id ) }}" class="delete-comment-{{ comment['Comment'].id }}">削除</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
                <div class=" p-2 col-12 d-flex justify-content-center mt-2">
                    <textarea class="input-comment" rows="6" cols="95"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button path="{{ url_for('add_comment', post_id = post['Post'].id) }}" class="btn btn-comment">コメント</button>
                    <button path="{{ url_for('edit_comment') }}" class="btn btn-comment">編集</button>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
