{% extends "layout.html" %}
{% block css%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list-post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list-user.css') }}">
{% endblock %}
{% block class %}
    <body class="list-post">
{% endblock %}
{% block body %}
    <div class="title mb-3">
        <a href="{{ url_for('create_post') }}"><img src="{{ url_for('static', filename='img/create.png') }}"></a>
    </div>
    <div class="d-flex justify-content-center">
        <div class="form-check form-check-inline mr-5 input-radio">
            <input name="radio-post" class="form-check-input" type="radio" id="gridRadios1" value="1" checked>
            <label class="form-check-label" for="gridRadios1">日付</label>
        </div>
        <div class="form-check form-check-inline ml-3 input-radio">
            <input class="form-check-input" type="radio" name="radio-post" id="gridRadios2" value="0">
            <label class="form-check-label" for="gridRadios2">応援</label>
        </div>
    </div>
    <div class="user mt-4 post-created-at">
        <ul class="p-4">
            {% for i in range(0, length) %}
            <li class="py-2 px-3 mb-3">
                <div class="d-flex row p-3">
                    <div class="avatar col-3 d-flex flex-column text-center align-items-center">
                        {% if posts[i]['User'].gender == 1%}
                            <img src="{{ url_for('static', filename='img/man.png') }}" alt="avatar" />
                        {% elif posts[i]['User'].gender == 0 %}
                            <img src="{{ url_for('static', filename='img/woman.png') }}" alt="avatar" />
                        {%else%}
                            <img  src="{{ url_for('static', filename='img/nosex.png') }}" alt="avatar" />
                        {%endif%}              
                        <span class="mt-3 px-5 py-1">{{ posts[i]['User'].username }}</span>
                        <div class="post-point d-flex flex-column mt-3">
                            {% if userLike[i] > 0 %}
                                <img src="{{ url_for('static', filename='img/like.png') }}" class="applause-icon mb-2" />
                            {% else %}
                                <img action="{{ posts[i]['Post'].id  }}" path="{{ url_for('add_like', post_id = posts[i]['Post'].id ) }}" src="{{ url_for('static', filename='img/unlike.png') }}" class="applause-icon mb-2 unlikee unlike-{{ posts[i]['Post'].id }}" />
                                <img src="{{ url_for('static', filename='img/like.png') }}" id="{{posts[i]['Post'].id}}"style="display: none;" class="applause-icon mb-2 icon-like-{{posts[i]['Post'].id}}" />
                            {% endif %}
                            <input hidden value="{{ point[i] }}" id="countLike-{{ posts[i]['Post'].id }}">
                            <p><span value="{{ point[i] }}" class="countLike-{{ posts[i]['Post'].id }}">{{ point[i] }}</span> pt</p>
                        </div>
                    </div>
                    <div class="post-title col-9 mb-3 d-flex flex-column">
                        <div class="d-flex">
                            <div class="content p-2 col-9">
                                {{ posts[i]['Post'].title }}
                            </div>
                            <div class="btn-detail col-2 d-flex align-items-end">
                                <a href="javascript:void(0)" class="btn px-5 py-1">{{ posts[i]['Tag'].name }}</a>
                            </div>
                        </div>
                        <div class="post-content mt-3 p-2">
                            <span>
                                {{ posts[i]['Post'].content }}
                            </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="px-5 py-1">{{ posts[i]['Post'].tag2 }}</span>
                                <span class="px-5 py-1">{{ posts[i]['Post'].tag3 }}</span>
                            </div>
                            <a href="{{ url_for('detail_post', id=posts[i]['Post'].id) }}">詳細</a>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="user mt-4 post-point" style="display: none;">
        <ul class="p-4">
            {% for i in range(0, length1) %}
            <li class="py-2 px-3 mb-3">
                <div class="d-flex row p-3">
                    <div class="avatar col-3 d-flex flex-column text-center align-items-center">
                        {% if postPoints[i]['User'].gender == 1%}
                            <img src="{{ url_for('static', filename='img/man.png') }}" alt="avatar" />
                        {% elif postPoints[i]['User'].gender == 0 %}
                            <img src="{{ url_for('static', filename='img/woman.png') }}" alt="avatar" />
                        {%else%}
                            <img  src="{{ url_for('static', filename='img/nosex.png') }}" alt="avatar" />
                        {%endif%}              
                        <span class="mt-3 px-5 py-1">{{ postPoints[i]['User'].username }}</span>
                        <div class="post-point d-flex flex-column mt-3">
                            {% if userLike1[i] > 0 %}
                                <img src="{{ url_for('static', filename='img/like.png') }}" class="applause-icon mb-2" />
                            {% else %}
                                <img action="{{ postPoints[i]['Post'].id  }}" path="{{ url_for('add_like', post_id = postPoints[i]['Post'].id ) }}" src="{{ url_for('static', filename='img/unlike.png') }}" class="applause-icon mb-2 unlikee unlike-{{ postPoints[i]['Post'].id }}" />
                                <img src="{{ url_for('static', filename='img/like.png') }}" id="{{postPoints[i]['Post'].id}}"style="display: none;" class="applause-icon mb-2 icon-like-{{postPoints[i]['Post'].id}}" />
                            {% endif %}
                            <p><span value="{{ point1[i] }}" class="countLike-{{ postPoints[i]['Post'].id }}">{{ point1[i] }}</span> pt</p>
                        </div>
                    </div>
                    <div class="post-title col-9 mb-3 d-flex flex-column">
                        <div class="d-flex">
                            <div class="content p-2 col-9">
                                {{ postPoints[i]['Post'].title }}
                            </div>
                            <div class="btn-detail col-2 d-flex align-items-end">
                                <a href="javascript:void(0)" class="btn px-5 py-1">{{ postPoints[i]['Tag'].name }}</a>
                            </div>
                        </div>
                        <div class="post-content mt-3 p-2">
                            <span>
                                {{ postPoints[i]['Post'].content }}
                            </span>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="{{ url_for('detail_post', id=posts[i]['Post'].id) }}">詳細</a>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
