.list-post {
    background-image: url('/static/img/background3.png');
    background-repeat: repeat;
    background-position: center;
}

.title img {
    width: 280px;
    cursor: pointer;
}

.list-post .input-radio label {
    color: #29963B;
    font-size: 25px;
}

.input-radio input {
    height: 20px;
    width: 20px;
}

.post-title .content {
    background-color: #D9D9D9;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    max-height: 3.8em;
}

.post-content {
    background-color: #D9D9D9;
    height: 350px;
}

.post-content > div {
    background-color: #D9D9D9;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    max-height: 16em;
}

.avatar .post-point img {
    height: 90px;
    width: 95px;
}

.comment li {
    background-color: #fff;
}

.comment-item .content {
    font-size: 18px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.comment .avatar img{
    height: 65px;
    width: 95px;

}

.comment .avatar span {
    font-size: 15px;
}

.btn-comment {
    color: #fff;
}

.list-post .post-point p {
    background-color: #D9D9D9;
}